// Include theming for Angular Material with `mat.theme()`.
// Learn more: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --color-primary: #1b1b1b;
  --color-surface: #f6f2ec;
  --color-border: #1b1b1b;
  --color-text-primary: #1b1b1b;
  --color-text-secondary: #333333;
  --background-alt: #e6e0d6;
  
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;

  --border-width: 4px;
  --shadow-neo: 6px 6px #1b1b1b;

  --font-heading: 'Courier New', Courier, monospace;
}

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
